// a SASS partial file (indicated by _name.scss

// -- Custom Properties
$clr-font: black;
$clr-bg: #4a90e2;
$clr-bg-container: #f2f2f2;
$clr-border-container: black;
$clr-border-textbox: lightgrey;
$clr-button-text: white;
$clr-button-hover: black;
$clr-button-add: #4caf50;
$clr-button-clear: #9f6060;

$border-radius: 10px;

// Responsive Design Units in REM
//   rdur-* => assumes the default browser font is 16px = 1 rem
//             but should scale ok relative to the user browser
//             default font size setting
$rdur-005-01px: 0.0625rem;
$rdur-010-02px: 0.1rem;
$rdur-050-08px: 0.5rem;
$rdur-075-12px: 0.75rem;
$rdur-100-16px: 1rem;
$rdur-110-18px: 1.1rem;
$rdur-125-20px: 1.25rem;
$rdur-138-22px: 1.375rem;
$rdur-150-24px: 1.5rem;
$rdur-250-40px: 2.5rem;

// -- Mixins
@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

// -- Resets
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// -- General Styling
html,
body {
  font-size: $rdur-100-16px;
  font-family: "Montserrat", sans-serif;
  color: $clr-font;
  width: 100%;
  min-height: 100%;

  @include mq(768px) {
    font-size: $rdur-138-22px;
  }
}

body {
  padding: 20px;
  background-color: $clr-bg;
}

section {
  background-color: $clr-bg-container;
  width: 90%;
  max-width: 44rem; // approx 700px
  margin: auto;
  border: 1px solid $clr-border-container;
  border-radius: $border-radius;
}
