// SASS partial file for section: listContainer
.listContainer {
  min-height: 60vh;
  padding: $rdur-075-12px;

  .listTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    button {
      font-size: $rdur-100-16px;
      background-color: $clr-button-clear;
      padding: 0 $rdur-010-02px;
      margin-bottom: $rdur-050-08px;

      @include mq(768px) {
        padding: 0 $rdur-050-08px;
      }
    }

    hr {
      width: 100%;
    }
  }

  .item {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-top: $rdur-100-16px;

    input[type="checkbox"] {
      text-align: center;
      width: $rdur-250-40px;
      height: $rdur-250-40px;
      min-width: 48px;
      min-height: 48px;
      cursor: pointer;
      margin-right: $rdur-150-24px;
    }

    input[type="checkbox"]:focus + label {
      text-decoration: underline;
    }

    label {
      font-size: $rdur-110-18px;
    }
  }

  .confirmation {
    // for accessibility only, not on screen
    position: absolute;
    left: -10000px;
  }
}
